/* 6 */
#paveikslelis {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

/* 7 */
img {
    cursor: pointer;
}

/* 8 */
#arbatos_skaiciuokle {
    width: 30vw;
}